---
layout: page
title: "Portfolio"
description: "Projects portfolio"
order: 3
---
<p>
  I have been working on the iOS and Android platforms since 2010. I do, however, have an interest in web technologies, and have built many websites, including the one that you’re currently reading, backend REST API, etc.
</p>
<ul class="list-inline text-center" id="software_list">
  {% for project in site.data.portfolio %}
  <hr>
  <li>
    <h3><a href="{{ project.projectURL }}">{{ project.title }}</a></h3>
    <a href="{{ project.projectURL }}"><img src="{{ site.baseurl }}/{{ project.imageURL }}"></a>
    <div>
      {{ project.description }}
    </div>
    <ul class="list-inline text-left">
      {% if project.projectURL %}
      <li>
          <a href="{{ project.projectURL }}">
              <i class="fa fa-home fa-2x"></i>
          </a>
      </li>
      {% endif %}
      {% if project.itunesURL %}
      <li>
          <a href="{{ project.itunesURL }}">
              <i class="fa fa-apple fa-2x"></i>
          </a>
      </li>
      {% endif %}
      {% if project.googlePlayURL %}
      <li>
          <a href="{{ project.googlePlayURL }}">
                  <i class="fa fa-android fa-2x"></i>
          </a>
      </li>
      {% endif %}
    </ul>
  </li>
  {% endfor %}
</ul>
